@charset "UTF-8";

.print_only{
	display:none;
}

body, html{
	font-family:Helvetica, Arial, sans-serif;
	color: #555;
	background-color:#f5f5f5;
	background-attachment:fixed;
	font-weight:lighter;
	line-height:1.25em;
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
a{
	text-decoration:none;
	color: #06C;
}
a:hover{
	text-decoration:underline;
}

div#cv_main {
	background-color: rgba(255,255,255,0.6);
	margin: 50px auto 30px auto;
	text-align:left;
	width:57.69em;
	*width:56.25em;
	position:relative;
}

div#cv_main ul#nav{
	background-color:#464444;
	color:#fff;
	height:32px;
	font-family: Helvetica, Arial, sans-serif;
}

div#cv_main ul#nav li{
	float:left;
	padding: 8px 27px;
	text-align:center;
	/*width: 140px;*/
	font-size:16px;
	margin: 0px;
}

div#cv_main ul#nav li a{
	color:#fff;

	font-weight:normal;
	text-decoration:none;
}

div#cv_main ul#nav li a:hover{
	text-decoration:underline;

}

div#name_box a{
color:inherit;
text-decoration:none;
}

div#name_box a:hover{
text-decoration:underline;
}

div.sidebar{
	width: 230px;
	float:right;
	clear:right;
	font-size:13px;
	font-weight:normal;
	margin: 0px 0px 20px 20px;
	position:relative;
/* 	border-left: 1px dashed #ccc; */
	z-index:999;
}

div.sidebar_heading{
	color:#C60;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-variant: small-caps;
	font-weight:bold;
	letter-spacing: 2px;
	margin:8px;
}

div#advertisement{
	width: 210px;
	float:right;
	clear:right;
	font-size:15px;
	margin: 0px 0px 0px 0px;
	padding: 15px 10px;
	position:relative;
/* 	border-bottom: 1px dashed #ddd; */
	color: #333;
	z-index:999;
}

div#advertisement a{
	color:#000;
}

div.sidebar ul{margin:10px 5px 5px 10px;}

div.sidebar li{
	margin: 3px 3px 10px 0px;
	color:#333;
}

div#news li{
	display:block;
	margin: 0px;
	padding: 5px;
	border-top: 1px dotted #ddd;
}

div#news span.date{
	color:#690;
	/*display:block;*/
	text-align:left;
	padding-right:10px;
	/*font-style:italic;*/
}

div#links li {
	list-style:circle;
	margin-left:8px;
}
/**div#colleagues li {display:inline; margin-right:10px;}**/

h1 {
	font-size:16px;
	/*color: #000;*/
	font-weight: bold;
	text-transform:uppercase;
	margin: 18px 0px 8px 157px;
	border-left: #a21f34 3px solid;
	padding-left: 8px;
}
h1 .note{
	padding-left:10px;
	font-size: 14px;
	color:#888;
	text-transform:none;
}

#cv_main li a {
	text-decoration: none;
	color: #06C
}
#cv_main li a:hover {
	text-decoration: underline;
}


.space {
padding-left:7px;
padding-right:7px;
}

.hyphen{
padding-left:7px;
padding-right:7px;
}

img.at{
	vertical-align:text-bottom;
}

.award{color: #C60; margin-bottom: 10px}


dl{
	padding: 15px;
}


dt{
	float: left;
	font-weight: bold;
}

dd{
	margin-left: 90px;
	margin-bottom:10px;
}

table.talk_table{
	border:0;
}

table.talk_table td{
	text-align:left;
	vertical-align:top;
	padding:3px 8px;
	margin:0px;
}

div.talk_title{
	font-size:14px;
	margin-left:165px;
	clear:both;
	font-weight: bold;
	padding-top: 14px;
}

div.left{
	font-size:14px;
	clear:both;
    padding: 5px 0px;
    width: 150px;
	margin:0px 15px 0px 0px;
    float: left;
	text-align:right;
}
div.right{
	font-size:14px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 50px;
	padding-bottom: 5px;
	margin-left: 165px;
}
div.left a, div.right a {
	text-decoration: none;
	color: #06C
}

ol.cv li span.left {
	position:absolute;
	font-size:14px;
	display:block;
	left: -170px;
	width: 150px;
	text-align:right;
}

ol.cv li {
	position:relative;
	font-size:14px;
	margin: 0px 30px 0px 160px ;
	display: block;
	padding: 5px 5px 13px 0px;
}
ol.publications li{
	margin: 0px 80px 0px 160px ;
}
ol.publications li div.paper_links {
	right:-80px;
	position:absolute;
	width:70px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:16px;
	border-left: 1px solid #ccc;
	padding-left:5px;
}

div.publications div.right {
	margin-right: 80px;
}
div.publications div.rightmost {
	right:0px;
	position:absolute;
	width:70px;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-size:13px;
	line-height:16px;
	border-left: 1px solid #ccc;
	padding: 5px 0px 0px 5px;
}

div.break{
	clear:both;
}

/*
div.student .name{
	font-weight:bold;
	display: inline-block;
	width: 200px;
	vertical-align:top;
}
div.student .affiliation{
	display: inline-block;
	width: 200px;
	margin-left: 10px;
	vertical-align:top;
}
div.student .period{
	display: inline-block;
	width: 150px;
	margin-left: 10px;
	vertical-align:top;
}
*/
div.right div.now, div.right div.award,
div.student div.now, div.student div.award{
	clear:both;
	margin-left:15px;
	/*font-style:italic;*/
	color:#690;
	margin-top:-2px;
}
div.right div.project,
div.student div.project{
	clear:both;
	margin-left:15px;
	margin-top:-2px;
}


ul.flat, ul.flat li{
	position:relative;
	display: inline-block;
	font-size:14px;
	margin: 0px;
	padding: 0px;
	float: none;
}

ul.flat li,
ol.flat li
{ margin-right:15px;}